body{
    margin:0px;
}
ul{
    list-style-type:none;
    text-align:justify;
    overflow:hidden;
    background:black;
    margin-top:0px;
    padding-inline-start: 0px;;
}

h1{
    background:gray;
    padding:20px;
    margin-bottom:0px;
}
li{
 
    float:left;

}

li a{
    text-decoration:none;
    display:block;
    color:white;
    text-align:center;
    padding: 7px;  
    border-right-style: solid;
    border-right-color:white;
    border-width:1px;
}

li a:hover {
    background-color: green;
  }