body{
    margin:0px;
}
ul{
    list-style-type:none;
    text-align:justify;
    overflow:hidden;
    background:black;
    margin-top:0px;
    padding-inline-start: 0px;
    margin-bottom:0px;
}

#header h1{
    background:gray;
    padding:20px;
    margin-bottom:0px;
}
#content {
  float:left;
  width:70%;  
  overflow:auto;
  padding:1%;
}
#main{
    display:flex;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
}
#sidebar{
    padding-top:0px;
    float:right;
    width:29%;
    background:rgb(216, 213, 213);
    padding:15px;
padding-bottom:20%;
margin-right:0px;
}
#footer{
    background:rgb(126, 118, 118);
    text-align:right;
    margin:0px;
    padding:0px;
}
#footer p{
    margin:0px;
    padding:2%;
}
li{
 
    float:left;

}

li a{
    text-decoration:none;
    display:block;
    color:white;
    text-align:center;
    padding: 7px;  
    border-right-style: solid;
    border-right-color:white;
    border-width:1px;
}

li a:hover {
    background-color: green;
  }